   <div class="col-md-4">
        <div class="card rounded">
            <div class="card-image">
                {{!-- <span class="card-notify-badge">{{mileage}}</span> --}}
                <span class="card-notify-year">{{year}}</span>
                <img class="img-fluid" src="{{thumb}}" alt="Alternate Text" />
            </div>
            <div class="card-image-overlay m-auto">
                <span class="card-detail-badge">{{status}}</span>
                <span class="card-detail-badge">{{price}}</span>
                <span class="card-detail-badge">{{mileage}}</span>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">
                    <h5>{{name}}</h5>
                </div>
                <a class="ad-btn" href="#">{{action}}</a>
            </div>
        </div>
    </div>